.reset-btn {
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(39, 39, 146);
    color: white;
    font-size: 1.2rem;
    padding: .8rem 1rem;
    margin: auto;
    width: 8rem;
    cursor: pointer;

}

.reset-container {

    display: flex;
    margin-top: 20px;
    align-items: center;
}